@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

body {
  scroll-behavior: smooth;
  @apply bg-white overflow-x-hidden font-inter;
}

.active {
  @apply text-[#201c27] font-bold stroke-[#201c27] transition-colors duration-500;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  scroll-behavior: smooth;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #201c27;
  border-radius: 20px;
  border: 3px solid #201c27;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #201c27;
  border-radius: 20px;
  border: 3px solid #201c27;
}
